
@{
    ViewBag.Title = "Kaydet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MYARCH.CORE.Entities

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-elements-inline">
                            <h5 class="card-title">
                                Toplu Boçlandır
                            </h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#">

                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Borç tarihi</label>
                                <div class="col-lg-10">

                                    @{
                                        int yil = @DateTime.Now.Year;
                                        int ay = @DateTime.Now.Month;
                                        int gun = Convert.ToInt32(ViewBag.AidatGun);
                                        DateTime tarih = Convert.ToDateTime(yil + "." + ay + "." + gun);
                                        <input type="date" class="form-control" id="tarih" value="@tarih.ToString("yyyy-MM-dd")">
                                    }

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Son ödeme tarihi</label>
                                <div class="col-lg-10">

                                    @{

                                        int gunSon = Convert.ToInt32(ViewBag.VadeGunSayisi);

                                        DateTime tarihSon = tarih.AddDays(gunSon);
                                        <input type="date" class="form-control" id="tarihSonOdeme" value="@tarihSon.ToString("yyyy-MM-dd")">
                                    }

                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Kişi tipi</label>
                                <div class="col-lg-10">
                                    <select data-placeholder="Seçiniz" class="form-control form-control-select2" id="kisiTipi" data-fouc>
                                        <option></option>
                                        <optgroup label="Seçim">
                                            <option value="katMaliki">Kat maliki</option>
                                            <option value="kiraci">Kiracı</option>

                                        </optgroup>

                                    </select>
                                </div>
                            </div>



                            <div class="form-group row" >
                                <label class="col-lg-2 col-form-label">Borçlandırma türü</label>
                                <div class="col-lg-10">
                                    <select data-placeholder="Seçiniz" class="form-control form-control-select2" id="borclandirmaTuru" data-fouc>
                                        <option></option>
                                        <optgroup label="">
                                            @foreach (borc_tipleri tipler in ViewBag.borcTiperi)
                                            {
                                                <option value="@tipler.para_birimi">@tipler.borclandirma_turu</option>
                                            }
                                        </optgroup>

                                    </select>
                                </div>
                            </div>

                            <div class="form-group row" style="display:none" id="donemForm">
                                <label class="col-lg-2 col-form-label">Dönem</label>
                                <div class="col-lg-10">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" value="1" class="form-input-styled" name="donem" checked data-fouc>
                                            İlk dönem
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-input-styled" value="2" name="donem" data-fouc>
                                            İkinci dönem
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Para birimi</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="paraBirimi">
                                </div>
                            </div>

                            <div class="form-group row" id="dagitimTuruForm">
                                <label class="col-lg-2 col-form-label">Dağıtım Şekli</label>
                                <div class="col-lg-10">
                                    <select data-placeholder="Seçiniz" class="form-control form-control-select2" id="dagitimTuru" name="dagitimTuru" data-fouc>
                                        <option></option>
                                        <optgroup label="Seçim">
                                            <option value="bbg">Bağımsız Bölümlere Göre</option>
                                            <option value="bbe">Bağımsız Bölümlere Eşit</option>

                                        </optgroup>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" id="aciklamaForm">
                                <label class="col-lg-2 col-form-label">Açıklama</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="aciklama">
                                </div>
                            </div>

                            <div class="form-group row" id="tutarForm" style="display:none">
                                <label class="col-lg-2 col-form-label">Tutar</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="tutar">
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-primary" onclick="KaydetIslem()">Kaydet <i class="icon-paperplane ml-2"></i></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>

    DisiableTrue("paraBirimi")

    $('#tutar').keydown(function (e) {
        DisiableTrue
        if (e.keyCode == 190)
            return false;

    });

    // KaydetIslem
    $('#dagitimTuru').on('change', function (e) {
        var secilen = $("option:selected", this);
        var secilenDeger = this.value;

        if (secilenDeger == 'bbg') {
            $('#tutarForm').hide();

        }
        if (secilenDeger == 'bbe') {
            $('#tutarForm').show();
        }


    });
    SadeceRakam("#tutar");

    $('#borclandirmaTuru').on('change', function (e) {
        var secilenDeger = $("#borclandirmaTuru option:selected").text();
        var secilenDegerId = $("#borclandirmaTuru option:selected").val();


        if (secilenDegerId == "USD") {

            document.getElementById("paraBirimi").value = secilenDegerId;
        }

        if (secilenDegerId == "TL") {

            document.getElementById("paraBirimi").value = secilenDegerId;
        }


        if (secilenDeger == 'Aidat') {
            $('#dagitimTuruForm').show();
            $('#tutarForm').hide();
            $('#donemForm').hide();
        }

        if (secilenDeger == 'Akaryakıt') {
            $('#dagitimTuruForm').hide();
            $('#tutarForm').hide();
            $('#donemForm').show();

        }

        if (secilenDeger != "Akaryakıt" && secilenDeger != "Aidat") {
            $('#dagitimTuruForm').hide();
            $('#tutarForm').show();
            $('#donemForm').hide();

        }

    });

    function KaydetIslem() {

        var dagitim = document.getElementById("dagitimTuru");
        var dagitimSekli = dagitim.options[dagitim.selectedIndex].text;

        var aciklama = document.getElementById("aciklama").value;

        var kisiTip = document.getElementById("kisiTipi");
        var tip = kisiTip.options[kisiTip.selectedIndex].text;

        var tur = document.getElementById("borclandirmaTuru");
        var borclandirmaTuru = tur.options[tur.selectedIndex].text;

        var tutar = document.getElementById("tutar").value;

        var borcTarihi = document.getElementById("tarih").value;
        var sonOdemeTarihi = document.getElementById("tarihSonOdeme").value;

        var donem = document.querySelector('input[name="donem"]:checked').value

      
        var paraBirimi = document.getElementById("paraBirimi").value;

        if (tip == "") {
            Uyari("error", "kişi tipini seçin");
            return;
        }
        if (borclandirmaTuru == "") {
            Uyari("warning", "borçlandırma türünü seçin.Seçim yapamıyorsanız tanımlar menüsünden borçlandırma türlerini ekleyin");
            return;
        }
        if (dagitimSekli == "" && borclandirmaTuru == "Aidat") {
            Uyari("error", "dağıtım tipini seçin");
            return;
        }

        if (borclandirmaTuru == "Akaryakıt" && donem == "") {
            Uyari("error", "Akaryakıt borçlandırması için dönem seçiniz");
            return;
        }

        if (borclandirmaTuru == "Akaryakıt") {
            

            $.ajax({
                url: "/TopluBorclandir/AkaryakitBorclanidrmaSayisi",
                type: "POST",
                success: function (response) {
                    if (response == false) {
                        
                        Uyari("warning", "bir yılda en fazla iki kez akaryakıt borçlandırması yapabilirsiniz");
                        return ;
                    }
                    else {
                        if (borclandirmaTuru == "Akaryakıt") {

                            $.ajax({
                                url: "/TopluBorclandir/AkaryakitKontrol",
                                type: "POST",
                                success: function (response) {
                                    if (response == true) {

                                        var model = {
                                            aciklama: document.getElementById("aciklama").value,
                                            dagitim_sekli: dagitimSekli,
                                            tip: tip,
                                            borc: tutar,
                                            borclandirma_turu: borclandirmaTuru,
                                            //dagitim_sekli: dagitimSekli,
                                            tarih: borcTarihi,
                                            sonodeme_tarihi: sonOdemeTarihi,
                                            para_birimi: paraBirimi,
                                            donem: donem

                                        };

                                        //console.log(model);
                                        Kaydet("/TopluBorclandir/KaydetIslem", model, "Kayıt işlemi başarılı", "/TopluBorclandir", "Bu ay borçlandirma yapılmıstır")
                                    }
                                    else {
                                        Uyari("warning", "akaryakıt tanımlasını yapın");

                                    }
                                }
                            });


                        }
                     
                    }
                  
                }
            });
        }

        if (borclandirmaTuru == "Aidat")  {
            var model = {
                aciklama: document.getElementById("aciklama").value,
                dagitim_sekli: dagitimSekli,
                tip: tip,
                borc: tutar,
                borclandirma_turu: borclandirmaTuru,
                dagitim_sekli: dagitimSekli,
                tarih: borcTarihi,
                sonodeme_tarihi: sonOdemeTarihi,
                para_birimi: paraBirimi

            };

            //console.log(model);
            Kaydet("/TopluBorclandir/KaydetIslem", model, "Kayıt işlemi başarılı", "/TopluBorclandir", "Bu ay borçlandirma yapılmıstır")
        }
        if (borclandirmaTuru != "Akaryakıt" && borclandirmaTuru != "Aidat") {
            var model = {
                aciklama: document.getElementById("aciklama").value,
                dagitim_sekli: dagitimSekli,
                tip: tip,
                borc: tutar,
                borclandirma_turu: borclandirmaTuru,
                dagitim_sekli: "Bağımsız Bölümlere Eşit",
                tarih: borcTarihi,
                sonodeme_tarihi: sonOdemeTarihi,
                para_birimi: paraBirimi

            };

            //console.log(model);
            Kaydet("/TopluBorclandir/KaydetIslem", model, "Kayıt işlemi başarılı", "/TopluBorclandir", "Bu ay borçlandirma yapılmıstır")
        }


     

          


        
    }
</script>