
@{
    ViewBag.Title = "DaireEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MYARCH.DTO.EEntity
@model MYARCH.DTO.EEntity.EBagimsizBolumlerDTO

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-elements-inline">
                            <h5 class="card-title">
                                Bağımsız Bölüm Ekle
                            </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Blok adı</label>

                                <div class="col-lg-10">
                                    <select class="form-control form-control-select2" id="blok" data-fouc>

                                        <optgroup label="">
                                            <option value="7">Bayraktar İş Merkezi</option>
                                        </optgroup>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Kat</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="kat">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">No</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="daireNo">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Bağımsız bölüm tipi</label>
                                <div class="col-lg-10">
                                    <select data-placeholder="Seçim yapınız" class="form-control form-control-select2" id="tip" data-fouc>
                                        <option></option>
                                        <optgroup label="Daire tipi">
                                            @foreach (ETiplerDTO tip in ViewBag.Tipler)
                                            {
                                                <option value="@tip.id">@tip.bagimsiz_tip</option>
                                            }
                                        </optgroup>

                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Aidat tutarı<span style="font-weight:bold">(para birimi TL)</span></label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="aidat" readonly>
                                </div>
                                <div class="col-lg-1">
                                    <label style="font-weight:bold; line-height:35px"> TL</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Toplam arsa payı</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="arsaPayi" value="12440" readonly>
                                </div>
                                <div class="col-lg-1">
                                    <label style="font-weight:bold; line-height:35px"> M²</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label"> Daire  arsa payı</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="daireArsaPayi">
                                </div>
                                <div class="col-lg-1">
                                    <label style="font-weight:bold; line-height:35px"> M²</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Daire adres no</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="adresNo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Su abone no</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="suAboneNo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Daire katsayısı</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="katsayi">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Elektrik abone no</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="elektrikAboneNo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Petek boyu</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="petekBoyu">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Durum</label>
                                <div class="col-lg-10" id="durum">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" value="dolu" class="form-input-styled" name="deger" checked data-fouc>
                                            Dolu
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-input-styled" value="bos" name="deger" data-fouc>
                                            Boş
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="button" onclick="BagimsizBolumEkle()" class="btn btn-primary">Kaydet <i class="icon-paperplane ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
     $('select').on('change', function () {
         var id = this.value;
       
        if (id != '') {
            $.ajax({
                url: "/BagimsizBolum/TipeGoreAidat",
                type: "POST",
                data: { id: id },
                success: function (response) {
                    console.log(id);
                    if (response != null) {
                        $("#aidat").val(response);

                    }

                    else {
                        Uyari("error", "Bu daire tipine ait aidat tutarı bulunamadı");
                    }

                }
            });
        }

    });

    function BagimsizBolumEkle() {
        var tip = document.getElementById("tip");
        var tipAdi = tip.options[tip.selectedIndex].text;
        var tipId = tip.options[tip.selectedIndex].value;

         var e = document.getElementById("blok");
         var blok = e.options[e.selectedIndex].text;
         var blokId = e.options[e.selectedIndex].value;


        if (document.getElementById("kat").value == '') {
            Uyari("error", "Lütfen daire katını giriniz");
            return;
        }
        if (tipId == '') {
            Uyari("warning", "Daire tipini seçiniz yapınız");
            return;
        }
        if (document.getElementById("aidat").value == '') {
            Uyari("error", "Lütfen aidat tutarını giriniz");
            return;
        }

        if (document.getElementById("daireArsaPayi").value == '') {
            Uyari("error", "Lütfen arsa payını giriniz");
            return;
        }
        //if (document.getElementById("daireNo").value == '') {
        //    Uyari("error", "Lütfen daire adres numrasını giriniz");
        //    return;
        //}

        if (document.getElementById("petekBoyu").value == '') {
            Uyari("error", "Lütfen petek boyunu giriniz");
            return;
        }

        if ('@ViewBag.aidatParaBirimi'== '') {
            Uyari("warning", "Aidat icin para birimini giriniz");
            return;
        }

         if (document.getElementById("petekBoyu").value == '') {
            Uyari("error", "Lütfen petek boyunu giriniz");
            return;
        }

        if (document.getElementById("katsayi").value == '') {
            Uyari("error", "Lütfen daire katsayisini giriniz ");
            return;
        }

     

        else {

       

            var model = {
                kat: document.getElementById("kat").value,
                daire_numarasi: document.getElementById("daireNo").value,
                aidat_tutari: document.getElementById("aidat").value,
                tip: tipAdi,
                tip_id: tipId,
                arsa_payı: document.getElementById("daireArsaPayi").value,
                daire_adres_no: document.getElementById("adresNo").value,
                su_abone_no: document.getElementById("suAboneNo").value,
                petek_boyu: document.getElementById("petekBoyu").value,
                elektrik_abone_no: document.getElementById("elektrikAboneNo").value,

                blok_adi: blok,
                durumu: document.querySelector('input[name="deger"]:checked').value,
                blok_id: blokId,
                para_birimi: '@ViewBag.aidatParaBirimi',
                daire_katsayisi: document.getElementById("katsayi").value

            }

             Guncelle("/BagimsizBolum/DaireKaydet", model, "Kayıt işlemi başarılı", "/BagimsizBolum", "İşlem sırasında bir hata meydana geldi")
        }

        @*else {

            var model = {
        
            kat:  document.getElementById("kat").value,
            //daire_numarasi: document.getElementById("daireNo").value,
            aidat_tutari: document.getElementById("aidat").value,
            tip: tipAdi,
            tip_id:tipId,
            //brut_alan: document.getElementById("brut").value,
            //net_alan: document.getElementById("net").value,
            arsa_payı: document.getElementById("daireArsaPayi").value,
            daire_adres_no: document.getElementById("adresNo").value,
            su_abone_no: document.getElementById("suAboneNo").value,
            petek_boyu: document.getElementById("petekBoyu").value,
            elektrik_abone_no: document.getElementById("elektrikAboneNo").value,
            blok_adi: blok,
            durumu: document.querySelector('input[name="deger"]:checked').value,
            blok_id: blokId,
            para_birimi: '@ViewBag.aidatParaBirimi',
            daire_katsayisi = document.getElementById("katsayi").value

          

        };

              console.log(model);
            
                 //if (response == true) {
                 //    Guncelle("/BagimsizBolum/DaireKaydet", model, "Kayıt işlemi başarılı", "/BagimsizBolum/Detay", "İşlem sırasında bir hata meydana geldi")
                 //}

                 //else {
                 //    Uyari("error", "Bu daire adres numarası kayıtlıdır");
                 //}

        }*@



    }

</script>

